.buttons {

    float: left;
    width: 35%;
    display: grid;
    grid-template-columns: 50% 50%;


}

h1 {
    margin-left: 1em;
}

#help {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}


#compute {

    text-align: center;
    widows: 200px;
}
